*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', 'Secular One', sans-serif;
}

body{
    background-color: #b57170;
}

.tablet-desktop{
    display: none;
}
header{
    display: none;
}

#hero {
    display: inline-flex;
    text-decoration: none;
    margin: 2%;
}

/*Mobile*/
.mobile-nav ul{
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    float: left;
}

.mobile-nav li{
    text-align: center;
    padding: 1% 0;
    border-top: 2px solid #000;
}
.mobile-nav li:last-of-type{
    border-bottom: 2px solid #000;
}

nav li a{
    text-decoration: none;
    color: #000;
    
}

.hidden {
    display: none;
}

.menu-btn {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    float: right;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: solid 3px #000;

}

.menu-btn_burger {
    width: 36px;
    height: 6px;
    background: #000;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 6px;
    background: #000;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    
}

.menu-btn_burger::before {
    margin-top: 2px;
    transform: translateY(-16px);
     
}

.menu-btn_burger::after {
    transform: translateY(16px);
     margin-bottom: 2px;
}

/* Animation for menu */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -36px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 36px);
}

/*Tablet and Desktop*/
@media screen and (min-width: 630px){
    .mobile{
        display: none;
    }
    .mobile-nav{
        display: none;
    }
    .tablet-desktop{
        display: block;
    }
    header{
        display: block;
    }

    img {
        max-width: 100%;
    }

    header{
        float: left;
        width: 25%; 
        top: 0;
        padding: 1% 0;
    }
    
    #logo-container{
        max-width: 25%;
        margin: 0 auto;
    }

    header img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
   
    nav {
        float: right;
        width: 75%;
        margin: 0;
        padding: 1% 0;
    }

    nav ul{
        
        width: 100%;
        margin: 0;
    }

    nav li{
        display: inline-block;
        text-decoration: none; 
        padding: 3%;
        margin: 0;
    }

    nav li:hover{
        background-color: beige;
    }

    nav a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25em;
        color: #000;
    }

    main{
        clear: left;
        background-color: beige;
    }

    #carousel-container{
        max-width: 80%;
        margin: 0 auto;
    }

    .carousel-item img{
        object-fit: scale-down;
        margin: 0 auto;
    }


    .product {
        float: left;
        display: block;
        border-style: solid;
        border-color: #000;
        margin: 3%;
        padding: 1%;
        width: 20%;
    }

    .product img {
        border-bottom: solid;
    }

    .product h3 {
        text-decoration: none;
        color:#000;
    }
}