*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', 'Secular One', sans-serif;
}

body{
    background-color: #b57170;
}

.tablet-desktop{
    display: none;
}
header{
    display: none;
}
#carousel-container{
    display: none;
}


img {
   max-width: 100%;
}

.product {
    float: left;
    min-height: 250px;
}

.product img {
    align-content: center;
    object-fit: contain;
    border-bottom: solid;
    height: 150px;
    width: 150px;
}

.product h3 {
    text-decoration: none;
    color:#000;
}

.items {
    display: block;
    margin: 0 2%;
}

h1 {
    margin: 3%;
    border-bottom: solid;
}

#hero a{
    color: #000;
    font-weight: bold;
}

/*Mobile*/
.mobile-nav ul{
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    float: left;
}

.mobile-nav li{
    text-align: center;
    padding: 2% 0;
    border-top: 2px solid #000;
}
.mobile-nav li:last-of-type{
    border-bottom: 2px solid #000;
}

nav li a{
    text-decoration: none;
    color: #000;
    
}

.hidden {
    display: none;
}


.product {
    margin: 0 auto;
    display: block;
    border: solid;
    border-color: #000;
    margin: 0;
    padding: 1%; 
    width: 50%;
    
}

/* Style Rules to make Menu Button */

.menu-btn {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    float: right;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: solid 3px #000;

}

.menu-btn_burger {
    width: 36px;
    height: 6px;
    background: #000;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 6px;
    background: #000;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    
}

.menu-btn_burger::before {
    margin-top: 2px;
    transform: translateY(-16px);
     
}

.menu-btn_burger::after {
    transform: translateY(16px);
     margin-bottom: 2px;
}

/* Animation for menu */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -36px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 36px);
}

.main{
    clear: left;
}

.grid{
    padding: 2% 0;
    margin: 0 auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: auto;
}

.product-container{
    max-width: 80%;
    margin: 0 auto;
    background-color: #b57170;
}

.product-container img{
    max-width: 100%;
    object-fit: scale-down;
}

.product-container h3{
    text-align: center;
    padding: 2%;
}

main{
    clear: right;
    background-color: beige;
}
.portfolio-container{

    max-width: 60%;
    margin: 1% auto;
    padding: 2% 0;
}

#form-container{
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
    padding-bottom: 1%;
}

#submitbtn{
    background-color: #b57170;
    border-radius: 5px;
    padding: 6px;
    margin-left: 10px;
}

textarea{
    border-radius: 8px;
}

footer{
    padding: 2% 0;
}

footer p{
    text-align: center;
}

footer a{
    color: beige;
}

footer a:hover{
    text-decoration: none;
}

/*Tablet and Desktop*/
@media screen and (min-width: 630px){
    .mobile, .mobile-nav, .menu-btn, .menu-btn_burger{
        display: none;
    }
    
    .tablet-desktop{
        display: block
    }
    
    #carousel-container{
        display: block;
    }
    .menu-btn{
        display: none;
    }
    #hero{
        display: none;
    }

    .top-line {
        display: flex;
        border: solid;
        border-bottom: none;
        padding: 0;

    }

    header img{
        align-items: center;
        margin: 0;
        border-bottom: black;
    }
   
    nav {
        display: flex;
        width: 100%;
        margin: 0;
    
    }

    header{
        float: left;
        width: 25%; 
        top: 0;
        padding: 1% 0;
    }
    
    #logo-container{
        max-width: 25%;
        margin: 0 auto;
    }

    header img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
   
    nav {
        float: right;
        width: 75%;
        margin: 0;
        padding: 1% 0;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        width: 100%;
        margin: 0;
    }

    .dropdown-top {
        width: 34%;
        height: 10%;
        float: right;
        text-decoration: none; 
        text-align: center;
        border: solid;
        padding: 2%;
        margin: 0;
    }

    .dropdown-img {
        
        
        float: right; 
        text-align: center;
        border: none;
        padding: 0;
        margin: 0;
}
    

    .dropdown-items {
        display: none;
    }
    
    .dropdown-items a {
        display: block;
        font-size: 1em;
        
    }
    
    .dropdown-top:hover .dropdown-items {
        display: block;
    }
    
    .dropdown {
        background: none;
    }
    .dropdown li {
        font-weight: bold;
    }

    nav a {
        padding: 3%;
        margin: 0;
    }

    nav li:hover{
        background-color: beige;
    }

    nav a{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25em;
        color: #000;
    }

    nav a:hover{
        text-decoration: none;
    }

    main{
        clear: right;
        background-color: beige;
    }

    #carousel-container{
        max-width: 80%;
        margin: 0 auto;
        padding: 2% 0;
    }

    .carousel-item img{
        object-fit: scale-down;
        margin: 0 auto;
    }

    .grid{
        padding: 2% 0;
        margin: 0 auto;
        max-width: 80%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .product-container{
        max-width: 80%;
        margin: 0 auto;
        background-color: #b57170;
    }

    .product-container h3{
        text-align: center;
        padding: 2%;
    }


    .product {
        width: 25%;
    }

    .product img {
        border-bottom: solid;
    }

    .product h3 {
        text-decoration: none;
        color:#000;
    }

    .portfolio-container{
        max-width: 45%;
    }

}